<%= render 'layouts/header' %>

<h1>Update product #<%= @product['id'] %></h1>

<h2><%= @product.errors.full_messages.first if @product.errors.any? %></h2>



<!-- SIMPLE FORM -->
<h3>Simple Form</h3>
<%= simple_form_for @product do |f| %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :pricing %>
	<%= f.button :submit %>
<% end %>

<br><br><br>

<!-- REGULAR HTML FORM -->
<h3>Regular Form</h3>
<form action="/products" method="post">  
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="text" name="product[name]" placeholder="name" value=<%= @product['name'] %>><br>
	<input type="text" name="product[description]" placeholder="description" value=<%= @product['description'] %>><br>
	<input type="text" name="product[pricing]" placeholder="pricing" value=<%= @product['pricing'] %>><br>
	<input type="submit" value="Update Product" />
</form>
